alex-analytics1/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "alex-analytics1"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSearch1_key": {
			"type": "secureString",
			"metadata": "Secure string for 'key' of 'AzureSearch1'"
		},
		"AzureTableStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureTableStorage1'"
		},
		"alex-analytics1-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'alex-analytics1-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:alex-analytics1.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"AzureSearch1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cpsc-recalls-ai-search.search.windows.net"
		},
		"alex-analytics1-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://alexanalytics1.dfs.core.windows.net"
		},
		"Trigger_9wq_properties_CopyStatusToParquet_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/CopyStatusToParquet')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy_9wq",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "statusHistoryTable"
							},
							{
								"name": "Destination",
								"value": "synapse1/statusUrls/@{formatDateTime(pipeline().parameters.windowStart,'yy')}@{formatDateTime(pipeline().parameters.windowStart,'MM')}@{formatDateTime(pipeline().parameters.windowStart,'dd')}@{formatDateTime(pipeline().parameters.windowStart,'HH')}@{formatDateTime(pipeline().parameters.windowStart,'mm')}/statuses"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_9wq",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_9wq",
								"type": "DatasetReference",
								"parameters": {
									"cw_folderPath": "statusUrls/@{formatDateTime(pipeline().parameters.windowStart,'yy')}@{formatDateTime(pipeline().parameters.windowStart,'MM')}@{formatDateTime(pipeline().parameters.windowStart,'dd')}@{formatDateTime(pipeline().parameters.windowStart,'HH')}@{formatDateTime(pipeline().parameters.windowStart,'mm')}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-16T14:55:52Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/SourceDataset_9wq')]",
				"[concat(variables('workspaceId'), '/datasets/DestinationDataset_9wq')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CopyStorageToSearch')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy_o7g",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "statusHistoryTable"
							},
							{
								"name": "Destination",
								"value": "cpsc-recalls-10102024"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureTableSource",
								"azureTableSourceIgnoreTableNotFound": false
							},
							"sink": {
								"type": "AzureSearchIndexSink",
								"writeBatchSize": 1000,
								"writeBehavior": "merge"
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_o7g",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_o7g",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-07-29T16:32:18Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/SourceDataset_o7g')]",
				"[concat(variables('workspaceId'), '/datasets/DestinationDataset_o7g')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/csvToSqlPipeline')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Get_File_List",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "csvtosql",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter_CSV_Files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_File_List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_File_List').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name, '.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach_File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_CSV_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_CSV_Files').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Run_PySpark_Notebook",
									"type": "SynapseNotebook",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebook": {
											"referenceName": "csvToSqlPySparkNotebook",
											"type": "NotebookReference"
										},
										"parameters": {
											"fileName": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "Expression"
											},
											"stateName": {
												"value": {
													"value": "@split(item().name,'-')[0]",
													"type": "Expression"
												},
												"type": "Expression"
											},
											"fileDate": {
												"value": {
													"value": "@split(split(item().name,'-')[1],'.')[0]",
													"type": "Expression"
												},
												"type": "Expression"
											}
										},
										"sparkPool": {
											"referenceName": "SampleSpark",
											"type": "BigDataPoolReference"
										},
										"executorSize": "Small",
										"conf": {
											"spark.dynamicAllocation.enabled": true
										},
										"driverSize": "Small",
										"authentication": {
											"type": "MSI"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/csvtosql')]",
				"[concat(variables('workspaceId'), '/notebooks/csvToSqlPySparkNotebook')]",
				"[concat(variables('workspaceId'), '/bigDataPools/SampleSpark')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DestinationDataset_9wq')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_folderPath": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "statuses",
						"folderPath": {
							"value": "@dataset().cw_folderPath",
							"type": "Expression"
						},
						"container": "synapse1"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DestinationDataset_o7g')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSearch1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSearchIndex",
				"schema": [],
				"typeProperties": {
					"indexName": "cpsc-recalls-10102024"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSearch1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SourceDataset_9wq')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "statusHistoryTable"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureTableStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SourceDataset_o7g')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureTableStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "statusHistoryTable"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureTableStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/csvtosql')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "alex-analytics1-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "synapse/workspaces/alex-analytics1",
						"fileSystem": "synapse1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/alex-analytics1-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSearch1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSearch",
				"typeProperties": {
					"url": "[parameters('AzureSearch1_properties_typeProperties_url')]",
					"key": {
						"type": "SecureString",
						"value": "[parameters('AzureSearch1_key')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureTableStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureTableStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/alex-analytics1-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('alex-analytics1-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/alex-analytics1-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('alex-analytics1-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Trigger_9wq')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyStatusToParquet",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_9wq_properties_CopyStatusToParquet_parameters_windowStart')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2025-07-29T16:33:00Z",
						"endTime": "2025-08-31T16:33:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/CopyStatusToParquet')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Trigger_o7g')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyStorageToSearch",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 4,
						"startTime": "2025-07-29T16:22:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/CopyStorageToSearch')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSqlIntegration')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/csvToSqlPySparkNotebook')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "SampleSpark",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "56g",
					"driverCores": 8,
					"executorMemory": "56g",
					"executorCores": 8,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": true,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "f296e0a9-31b2-4cb6-82a6-587ec999783a"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/75bad4c0-165f-4c86-971d-364c6e6ce1dd/resourceGroups/rg-analytics-dev/providers/Microsoft.Synapse/workspaces/alex-analytics1/bigDataPools/SampleSpark",
						"name": "SampleSpark",
						"type": "Spark",
						"endpoint": "https://alex-analytics1.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/SampleSpark",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.4",
						"nodeCount": 3,
						"cores": 8,
						"memory": 56
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"import os\n",
							"# === Parameters from pipeline ===\n",
							"from pyspark.sql import SparkSession\n",
							"\n",
							"from notebookutils import mssparkutils\n",
							"\n",
							"\n",
							"# --------------------------\n",
							"# Manual defaults for testing\n",
							"# --------------------------\n",
							"# Python notebook code\n",
							"file_name  = globals().get(\"fileName\")\n",
							"state_name = globals().get(\"stateName\")\n",
							"file_date  = globals().get(\"fileDate\")\n",
							"\n",
							"print(f\"File: {file_name}, State: {state_name}, Date: {file_date}\")\n",
							"\n",
							"\n",
							"if file_name is None:\n",
							"    print(f\"invalid file name or path\")\n",
							"    raise ValueError(\"Parameter 'file_name' is required.\")\n",
							"\n",
							"# Optional for JDBC URL if using environment variables or pipeline\n",
							"# dbutils.widgets.text(\"jdbcUrl\", \"\")\n",
							"# dbutils.widgets.text(\"targetTable\", \"\")\n",
							"\n",
							"#targetDB\n",
							"\n",
							"\n",
							"#jdbc_url     = os.environ.get(\"SQL_JDBC_URL\")\n",
							"#target_table = os.environ.get(\"SQL_TABLE\")\n",
							"# === ADLS configuration ===\n",
							"container = \"synapse1\"\n",
							"account = \"alexanalytics1\"  # without .dfs.core.windows.net\n",
							"folder = \"synapse/workspaces/alex-analytics1\"\n",
							"file_path = f\"abfss://{container}@{account}.dfs.core.windows.net/{folder}/{file_name}\"\n",
							"\n",
							"# === Read CSV with schema inferred ===\n",
							"df = (spark.read\n",
							"      .option(\"header\", \"true\")\n",
							"      .option(\"inferSchema\", \"true\")\n",
							"      .option(\"quote\", '\"')\n",
							"      .option(\"escape\", '\\\\')\n",
							"      .csv(file_path))\n",
							"print(\"Read CSV File\")\n",
							"df.show()\n",
							"\n",
							"# === Add metadata columns ===\n",
							"from pyspark.sql.functions import lit, current_timestamp, trim\n",
							"df = (df\n",
							"      .withColumn(\"SourceState\", lit(state_name))\n",
							"      .withColumn(\"SourceFileDate\", lit(file_date))\n",
							"      .withColumn(\"IngestionTimestamp\", current_timestamp()))\n",
							"\n",
							"# === Simple transformation: trim all string columns ===\n",
							"for col in df.columns:\n",
							"    df = df.withColumn(col, trim(df[col]))\n",
							"\n",
							"# === SQL Server connection ===\n",
							"jdbc_url = \"jdbc:sqlserver://dths-test-sqlserver.database.windows.net:1433;databaseName=dths;encrypt=true;trustServerCertificate=false;authentication=ActiveDirectoryMsi\"\n",
							"target_table = \"dbo.batches\"\n",
							"\n",
							"# === Write to SQL Server efficiently ===\n",
							"(df.write\n",
							"   .format(\"jdbc\")\n",
							"   .mode(\"append\")\n",
							"   .option(\"url\", jdbc_url)\n",
							"   .option(\"dbtable\", target_table)\n",
							"   .option(\"batchsize\", 5000)\n",
							"   .save())\n",
							"\n",
							"print(f\"Data successfully written to {target_table}\")\n",
							"\n",
							"# === Archive processed file ===\n",
							"source_path = f\"{folder}/{file_name}\"\n",
							"archive_path = f\"{folder}/archive/{file_name}\"\n",
							"mssparkutils.fs.mkdirs(f\"abfss://{container}@{account}.dfs.core.windows.net/{folder}/archive\")\n",
							"mssparkutils.fs.mv(\n",
							"    f\"abfss://{container}@{account}.dfs.core.windows.net/{source_path}\",\n",
							"    f\"abfss://{container}@{account}.dfs.core.windows.net/{archive_path}\"\n",
							")\n",
							"print(f\"Moved file to archive: {archive_path}\")\n",
							""
						],
						"outputs": [],
						"execution_count": 14
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SampleSpark')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": false,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 3,
				"nodeSize": "Medium",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.4",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "westus2"
		}
	]
}