pipeline/csvToSqlPipeline.json
{
	"name": "csvToSqlPipeline",
	"properties": {
		"activities": [
			{
				"name": "Get_File_List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csvtosql",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter_CSV_Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_File_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_File_List').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_CSV_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_CSV_Files').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Run_PySpark_Notebook",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "csvToSqlPySparkNotebook",
									"type": "NotebookReference"
								},
								"parameters": {
									"fileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "Expression"
									},
									"stateName": {
										"value": {
											"value": "@split(item().name,'-')[0]",
											"type": "Expression"
										},
										"type": "Expression"
									},
									"fileDate": {
										"value": {
											"value": "@split(split(item().name,'-')[1],'.')[0]",
											"type": "Expression"
										},
										"type": "Expression"
									}
								},
								"sparkPool": {
									"referenceName": "SampleSpark",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": true
								},
								"driverSize": "Small",
								"authentication": {
									"type": "MSI"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}